In [18]:
import pandas as pd
from pathlib import Path

In [19]:
life_expectancy = pd.read_csv('Life-Expectancy-Data-Updated.csv')
life_expectancy.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [20]:
# General sample info
countries = life_expectancy['Country'].unique()
len(countries)

179

In [23]:
columns = life_expectancy.columns
columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status_Developed',
       'Economy_status_Developing', 'Life_expectancy'],
      dtype='object')

In [32]:
developed = life_expectancy.query('Economy_status_Developed==1')
developing = life_expectancy.query('Economy_status_Developing == 1')

In [39]:
developed.query("Year==2015").sort_values('Infant_deaths',ascending=True).head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
2442,Iceland,Rest of Europe,2015,1.8,2.3,55.3590,7.66,88,94,26.2,...,92,0.05,52952,0.33,1.0,0.9,12.2,1,0,82.5
1063,Finland,European Union,2015,2.0,2.5,68.8685,8.52,88,92,25.9,...,97,0.08,42802,5.48,0.9,0.8,12.4,1,0,81.5
1196,Japan,Asia,2015,2.0,2.7,53.5860,8.55,83,93,22.7,...,96,0.17,34961,127.14,2.1,1.8,12.5,1,0,83.8
1145,Slovenia,European Union,2015,2.1,2.6,73.3560,11.49,88,96,26.5,...,95,0.01,20890,2.06,1.4,1.3,12.0,1,0,80.8
110,Norway,Rest of Europe,2015,2.2,2.7,53.8970,5.97,88,91,26.6,...,95,0.04,74356,5.19,0.8,0.7,12.5,1,0,82.3

In [40]:
developing.query("Year==2015").sort_values('Infant_deaths',ascending=True).head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
2080,Singapore,Asia,2015,2.2,2.7,50.9615,1.82,96,90,23.6,...,96,0.07,55647,5.54,2.2,2.2,11.5,0,1,82.7
202,Belarus,Rest of Europe,2015,3.1,4.1,163.8720,9.79,99,99,26.6,...,99,0.22,5967,9.46,1.9,2.0,12.2,0,1,73.6
1530,Montenegro,Rest of Europe,2015,3.3,4.0,100.8610,8.49,82,94,26.5,...,89,0.03,6517,0.62,1.8,1.8,11.3,0,1,76.4
2127,Cuba,Central America and Caribbean,2015,4.5,5.7,89.2395,4.65,99,99,25.6,...,99,0.16,7694,11.32,3.5,3.3,11.4,0,1,78.6
1715,Serbia,Rest of Europe,2015,5.4,6.3,114.3280,7.20,94,86,26.0,...,95,0.02,5589,7.10,2.0,2.0,11.0,0,1,75.3