In [1]:
import pandas as pd
from pathlib import Path

In [17]:
life_expectancy = pd.read_csv('Life-Expectancy-Data-Updated.csv')
life_expectancy

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.320,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.350,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.570,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.680,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.890,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859,Niger,Africa,2000,97.0,224.9,291.8240,0.092,72,64,20.8,...,34,0.49,399,11.33,12.8,12.9,1.1,0,1,49.9
2860,Mongolia,Asia,2009,23.9,28.6,235.2330,6.560,97,97,25.3,...,95,0.02,2515,2.67,2.2,2.3,9.1,0,1,66.9
2861,Sri Lanka,Asia,2004,17.7,28.9,134.8950,1.560,62,95,21.9,...,97,0.02,2130,19.39,15.4,15.5,10.3,0,1,74.3
2862,Lithuania,European Union,2002,7.9,9.9,204.0120,11.000,94,95,26.1,...,95,0.05,7424,3.44,3.3,3.3,11.1,1,0,71.8
2863,Iceland,Rest of Europe,2011,2.1,2.6,50.5745,6.840,88,90,26.1,...,95,0.05,48934,0.32,0.9,0.9,11.0,1,0,82.4

In [3]:
# General sample info
countries = life_expectancy['Country'].unique()
years = life_expectancy['Year'].unique()
print(len(countries))
print(len(years))

179
16

In [5]:
columns = life_expectancy.columns
columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status_Developed',
       'Economy_status_Developing', 'Life_expectancy'],
      dtype='object')

In [4]:
developed = life_expectancy.query('Economy_status_Developed==1')
developing = life_expectancy.query('Economy_status_Developing == 1')

In [5]:
developed.query("Year==2015").sort_values('Infant_deaths',ascending=True).head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
2442,Iceland,Rest of Europe,2015,1.8,2.3,55.3590,7.66,88,94,26.2,...,92,0.05,52952,0.33,1.0,0.9,12.2,1,0,82.5
1063,Finland,European Union,2015,2.0,2.5,68.8685,8.52,88,92,25.9,...,97,0.08,42802,5.48,0.9,0.8,12.4,1,0,81.5
1196,Japan,Asia,2015,2.0,2.7,53.5860,8.55,83,93,22.7,...,96,0.17,34961,127.14,2.1,1.8,12.5,1,0,83.8
1145,Slovenia,European Union,2015,2.1,2.6,73.3560,11.49,88,96,26.5,...,95,0.01,20890,2.06,1.4,1.3,12.0,1,0,80.8
110,Norway,Rest of Europe,2015,2.2,2.7,53.8970,5.97,88,91,26.6,...,95,0.04,74356,5.19,0.8,0.7,12.5,1,0,82.3

In [6]:
developing.query("Year==2015").sort_values('Infant_deaths',ascending=True).head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
2080,Singapore,Asia,2015,2.2,2.7,50.9615,1.82,96,90,23.6,...,96,0.07,55647,5.54,2.2,2.2,11.5,0,1,82.7
202,Belarus,Rest of Europe,2015,3.1,4.1,163.8720,9.79,99,99,26.6,...,99,0.22,5967,9.46,1.9,2.0,12.2,0,1,73.6
1530,Montenegro,Rest of Europe,2015,3.3,4.0,100.8610,8.49,82,94,26.5,...,89,0.03,6517,0.62,1.8,1.8,11.3,0,1,76.4
2127,Cuba,Central America and Caribbean,2015,4.5,5.7,89.2395,4.65,99,99,25.6,...,99,0.16,7694,11.32,3.5,3.3,11.4,0,1,78.6
1715,Serbia,Rest of Europe,2015,5.4,6.3,114.3280,7.20,94,86,26.0,...,95,0.02,5589,7.10,2.0,2.0,11.0,0,1,75.3

In [ ]:
# check for na's
life_expectancy.isna()

In [20]:
# check for duplicates
duplicate_countries = life_expectancy[life_expectancy.duplicated(subset=['Country','Year'],keep=False)==True]
duplicate_countries['Country'].unique()

array([], dtype=object)

In [22]:
# Summary Statistics -- add in other columns of interest -- figure out how to round numbers
# dataset includes 179 countries, data from 16 years (2000-2015)

sum_stats = life_expectancy[['Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Schooling', 'Life_expectancy']].describe()
sum_stats.rename(columns={'Infant_deaths':'Infant Deaths', 'Under_five_deaths':'Under Five Deaths',
                          'Adult_mortality':'Adult Mortality', 'Alcohol_consumption':'Alcohol Consumption', 
                          'Hepatitis_B':'Hepatitis B', 'Incidents_HIV':'Incidents HIV', 
                          'GDP_per_capita':'GDP per capita','Population_mln':'Population (Millions)',
                          'Schooling':'Years of Schooling', 'Life_expectancy':'Life Expectancy'},inplace=True)
sum_stats = sum_stats.round(2)
sum_stats

,Infant Deaths,Under Five Deaths,Adult Mortality,Alcohol Consumption,Hepatitis B,Measles,BMI,Polio,Diphtheria,Incidents HIV,GDP per capita,Population (Millions),Years of Schooling,Life Expectancy
count,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00,2864.00
mean,30.36,42.94,192.25,4.82,84.29,77.34,25.03,86.50,86.27,0.89,11540.92,36.68,7.63,68.86
std,27.54,44.57,114.91,3.98,16.00,18.66,2.19,15.08,15.53,2.38,16934.79,136.49,3.17,9.41
min,1.80,2.30,49.38,0.00,12.00,10.00,19.80,8.00,16.00,0.01,148.00,0.08,1.10,39.40
25%,8.10,9.67,106.91,1.20,78.00,64.00,23.20,81.00,81.00,0.08,1415.75,2.10,5.10,62.70
50%,19.60,23.10,163.84,4.02,89.00,83.00,25.50,93.00,93.00,0.15,4217.00,7.85,7.80,71.40
75%,47.35,66.00,246.79,7.78,96.00,93.00,26.40,97.00,97.00,0.46,12557.00,23.69,10.30,75.40
max,138.10,224.90,719.36,17.87,99.00,99.00,32.10,99.00,99.00,21.68,112418.00,1379.86,14.10,83.80